// // var
$body-color:#fff;
$footer-color:#1a1918;
// цвет кноки
$color-btn: #ff9d00;
// цвет текста
$color-text:#373737;
// цвет заглавного цвета
$color-title:#ff9d00;
// цвет секции 
$color-serction:#f4f4f4;

@import '_misc/normalize';
@import '_misc/mixnin';
@import '_misc/fonts';
@import '_misc/adjusment';
@import 'page/header';
@import 'page/tea';
@import 'page/room';

@import 'page/footer';

