.header {
  background-color: #e9eae2;
}
.header__wrapper {
  display: flex;
  position: relative;
    
  }
.header__triangle-inner{
    position: absolute;
    width: 0;
    height: 0;
    left: 10%;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-top: 284px solid rgba(#f9c34a, 0.7);
    z-index: 5;
    
      // &::after {
      //   content: "";
      //   position: absolute;
      //   background: url("/img/icons/page/pepper_icon.png");
      //   width: 25px;
      //   height: 52px; 
      //   display: block;
      // }
}
.header__triangle-pic {
    // position: absolute;
    // background: url("/img/icons/page/pepper_icon.png") 0 no-repeat;
    // width: 25px;
    // height: 52px; 
    // display: block;
    // left: 21%;
    // top: 14%;
    // transform: translate(-21%,-14%);
    // z-index: 6;   
    position: absolute;
    top:-202px; 
}
.header__triangle-icon {
  &::before {
    content: "";
    background: url("/img/decor/arrow-left.png") 0 no-repeat;
    position: absolute;
    width: 7px;
    height: 14px;
    display: block;    
    top: -179px;
    left: -23px;
  }
  &::after {
    content: "";
    background: url("/img/decor/arrow-rigth.png") 0 no-repeat;
    position: absolute;
    width: 7px;
    height: 14px;
    display: block;    
    top: -179px;
    right: -44px;
}
  
}
.header__left {
  width: 82%;
  // padding-bottom: 76px;
}
.header__logo {
  margin-bottom: 78px;
  margin-top: 22px;
}
.header__top-logo {
  width: 48px;
  height: 48px;
}
.logo {
  max-width: 100%;
}
.header__bottom {
  display: flex;
}
.header__bottom-left {
  position: relative;
  margin-left: 30px;
  
}
.price {
  // margin-left: 100px;
  // position: absolute;
  // top: 50px;
  position: absolute;
  width: 250px;
  left: 2px;
  top: 60px;
}
.price__title, .price__product {
  font-size: 28px;
  font-weight: 400;
  color: #969693;
  @include roboto(thin);
}
.haeder__pic {
  width: 365px;
  height: 520px;
  margin-left: 150px;
  
} 

.header__product {
  max-width: 100%;
  max-height: 100%;
}

.header__bottom-rigth {
  margin-left: 73px;
}
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:  39px;
}
.avatar__inner {
  border-radius: 50%;
  overflow: hidden;
  width: 63px;
  height: 63px;
  margin-bottom: 10px;
}
.avatar__pic {
  width: 105px;
  height: 105px;
  object-fit: cover;
}
.avatar__title {
  font-size: 16px;
  @include roboto(bold);
  color: #adada7;
}
// .header__title-middle {
//   // width: 325px;
// }

.title {
  // width: 325px;
  text-align: center;
  font-size: 56px;
  @include roboto(thin);
  font-weight: 400;
  line-height: 58px;
}
.title .new__line {
  text-align: center;
  font-size: 56px;
  line-height: 58px; 
  display: block;
}

.header__rigth {
  background: url('/img/foto/bagroud/nav-bg.jpg') 0 no-repeat;
  position: relative;
  z-index: 0;
}

 .header__rigth {
   width: 27%;
 }
.bg__fon--blue {

    &::before {
      content: '';
      display: block;
      top: 0;
      right: 0;
      position: absolute;
      background-color: rgba(#172339, 0.9);
      width: 100%;
      height: 100%;
      z-index: -1;
    }
}
.nav {
  padding-top: 80px;
  position: relative;
}
.nav__icon-menu {
  position: absolute;
  transform: translateX(-69px);
}
.nav__icon-item {
  width:70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  &:hover {
    background-color: #86d8cd;
  }  
}
.nav__icon-activ {
  background-color: #86d8cd;
}
.nav__title {
  font-size: 18px;
  color: #979797;
  padding-left: 34px;
  padding-bottom: 36px;
  text-transform: uppercase;
  @include roboto(bold);
}
.nav__list {
  // padding-left: 60px;
  // padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav__item {
  flex-basis: 50%;
  padding-bottom: 56px;
}

.nav__title-icon {
  font-size: 16px;
  color: #3ab3a6;
  text-transform: uppercase;  
}
.nav__pic {
  width: 37px;
  height: 28px;
  object-fit:contain;
  margin-bottom: 15px;
  
}
.nav__link {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.close {
  position: absolute;
  right: 29px;
  top:   26px;
  width: 35px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 1px;
  background-color:#3ab3a6;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}