
.tea {  
  height: 300px;
  background:url("/img/decor/bg.png"), url("/img/decor/bg2.png");
  background-position: left center, right center;
  background-size: 30%, cover;
  background-repeat: repeat-y, no-repeat;

} 
