/* var */
$footer-heigth:345px;
$conteiner-min-width:1460px;

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

html,body {
    height: 100%;
    width: 100%;
}
body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	// background: $body-color;    
    @include roboto(thin);
    // @include helvetica(roman);
    // font-family: Tahoma, Geneva, Verdana, sans-serif;
}
// если нужно убираем подчеркивание или закаметируем, если нет!!!!
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin: 0 auto;
    width: $conteiner-min-width;
}
// Прибитие футера статической верстки
// .wrapper {
//     overflow: hidden;
//     min-width: $conteiner-min-width+20px;
//     min-height: 100%;
// }

// .wrapper:after{
//     content: "";
//     display: block;
//     height: $footer-heigth;
// }

// .clearfix:after {
//     content: "";
//     display: block;
//     clear: both;
// }

// .footer {
// background-color: $footer-color;
// height: $footer-heigth;
// margin-top: -$footer-heigth;
// min-width: $conteiner-min-width+20px;
// }

// ПРИБИТИЕ ФУТЕРА НА ФЛЕКСАХ

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    min-width: $conteiner-min-width+20px;
}
.footer {
    height: $footer-heigth;
    background-color: $footer-color;
    margin-top: auto;
    min-width: $conteiner-min-width+20px;
}